/********** Base styles **********/
* {
  box-sizing: border-box;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: "Trebuchet MS", Helvetica, sans-serif

}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 175%;
  text-align: center;
}

p {
  margin: 75px 10px 10px 10px;
  text-align: justify;
  min-height: 70%;
  text-overflow: auto;
  color: black;
}

.menuitem {
  position: relative;
  border: 1px solid black;
  height: 300px;
  margin: 25px;
}

.menutitle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
}

.row {
  width: 100%;
}

#menuitem1 {
  background-color: orange;
}

#menuitem2 {
  background-color: greenyellow;
}
#menuitem3 {
  background-color: aquamarine;
}

#menutitle1 {
  background-image: url(roasted-chicken-small.jpg);
  color: white;
}

#menutitle2 {
  background-image: url(steak-cooked-small.jpg);
  color: white;
}

#menutitle3 {
  background-image: url(cooked-fish-small.jpg);
  color: white;
}

/********** Desktop **********/
@media only screen and (min-width: 992px) {
  .col-large {
    float: left;
    width: 33.33%;
  }
}


/********** Tablet **********/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-medium {
    float: left;
    width: 50%;
  }

  /* In Medium Screen, the third DIV element occupies entire width */
  .col-full {
    width: 100%;
  }
}

/********** Mobile **********/
@media only screen and (max-width: 767px) {
  .col-small {
    float: left;
    width: 100%;
  }
}